<web-app>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>studregapp.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowAllServlet</servlet-name>
        <servlet-class>studregapp.servlet.ShowAllServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowAllServlet</servlet-name>
        <url-pattern>/show_all</url-pattern>
    </servlet-mapping>
</web-app>